/* 
/styles/main.css
*/

body {
  background-image: url("../images/bluegradient.png");
  background-repeat: repeat-y;
  background-size: cover;
  color: #fff;
  font-family: Arial;
  margin: 0;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

#changeColorButton {
  background-color: #333;
  background-size: cover;
  color: #999;
  font-size: 12px;
  border: none;
  height: 24px;
  border-radius: 5px;
}

#changeColorButton:hover {
  background-color: #555;
  color: #aaa;
  cursor: pointer;
  box-shadow: 0px 0px 3px #000;
}

#changeColorButton:active {
  background-color: #333;
  color: #999;
}

#circleColor {
  border: none;
  border-radius: 5px;
  background: #333;
}

#circleColor:hover {
  cursor: pointer;
}

#header {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 125, 255, 0.9);
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: cover;
  width: 100%;
  vertical-align: middle;
  box-shadow: 0px 1px 0.1px #666;
  position: fixed;
}

#content {
  /* background-color: rgba(0, 125, 255, 0.5); */
  width: 100;
  height: 1000px;
  margin-top: 39px;
  padding: 1px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rgba(0, 125, 255, 0.9);
}

a:visited {
  text-decoration: none;
  color: rgba(0, 125, 255, 0.9);
}

.text {
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  background-size: cover;
  width: 100%;
}

.footer-text {
  color: #999;
  font-size: 12px;
}