* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: rgb(151, 186, 214);
  color: rgb(201, 221, 224);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.artist {
  display: inline-block;
  width: 33%;
}