body {
  background-color: #FF8888;
  margin: 0;
}

.container {
  width: 100%;
  background-color: #FF7878;
  color: #BB5555;
  font-family: rockwell;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: all 1s ease;
}

.container:hover {
  cursor: pointer;
  background-color: #DD6767;
  color: #CCC;
}

#footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 1%;
  background-color: #FF7878;
}

::-webkit-scrollbar-corner {
  background-color: #CC5656;
}

::-webkit-scrollbar-thumb {
  background-color: #DD6767;
}